{{ $st := .page }}
{{ $columns := $st.Params.design.columns | default "2" }}
  
<div class="row" style="margin-top:80px;">
	<div class="col-12 col-lg-4">
    {{ with $st.Title }}<div class="welcome">{{ . | markdownify | emojify }}{{ end }}</div></div>
      	<div class="col-12 col-lg-8">
          <div class="welcome-text">{{ $st.Content }}</div></div>  </div>
<div class="row align-items-center" style="margin-bottom:30px;">    
<div class="col-12 col-lg-4">
<a style="transition-duration: 0.6s;
    transition-timing-function: ease-out;" href="#about"><span style="color: #403f3f; font-size:40px;"><i class="fas fa-angle-double-down"></i></span></a>
  </div>
  </div>

