{{ $st := .page }}
{{ $columns := $st.Params.design.columns | default "2" }}

<div class="row">
  {{ if ne $columns "1" }}
	<div class="welcome-container">
      	<div>{{ with $st.Title }}<p class="welcome">{{ . | markdownify | emojify }}{{ end }}</p></div>
      	<div> <p class="welcome-text">{{ $st.Content }}</p></div>
    </div>
  {{ else }}
    <div class="col-lg-12">
      {{ with $st.Title }}<h1 class="welcome">{{ . | markdownify | emojify }}</h1>{{ end }}
      {{ with $st.Params.subtitle }}{{ . | markdownify | emojify }}{{ end }}
      <span class="welcome-text"> {{$st.Content}}</span>
    </div>
  {{ end }}
</div>
