:root{
    --blood: #ce6167;
}

@keyframes anime01 {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes anime02 {
	0% {opacity: 0;}
	50% {opacity: 0;}
	100% {opacity: 1;}
}

.avatar {opacity:0.9;}
.avatar-square {border-radius: 70%}

h1 { color: #403f3f; position: static; line-height: 50px; 
  font-size: 50px; margin: 0 0px 15px; padding: 0px;
    border-bottom-width: 3px; border-bottom-style: solid; border-bottom-color: #ce6167; }

.welcome { font-family:'Fanwood Text'; line-height:1em;  background: #ce6167; word-spacing: 20px;
  font-size: 4vw; height:3.3em; margin: 0px 0px 0px 0px;  padding: 0.15em; animation: anime01 3s forwards; border-radius: 0px; 
  @include media-breakpoint-up(md) {font-size: 36px; } 
  @include media-breakpoint-up(lg) {font-size: 44px; word-spacing: 16px; } 
  @include media-breakpoint-up(xl) {font-size: 56px;}
  @include media-breakpoint-down(md) {display: block; 
    font-size: 52px; line-height:1.2em; height: auto; margin: 0px 0px 0px 0px;}
  @include media-breakpoint-down(sm) {
    font-size: 47px; word-spacing: auto;}
  @include media-breakpoint-down(xs) {
    font-size: 36px; }
  }
.welcome-text {color: #6e6e6e; font-size: 4vw; line-height:1.4em; word-spacing: 3px; font-family:'Fanwood Text'; padding-left: 0.05em; padding-top: 0.25em; padding-botom: 0.25em; margin: 0px 0px 0px; 
	animation: anime02 3s forwards; 
  @include media-breakpoint-up(md) {font-size: 32px; } 
  @include media-breakpoint-up(lg) {font-size: 42px; } 
  @include media-breakpoint-up(xl) {font-size: 52px; }
  @include media-breakpoint-down(md) {display: block; line-height:1.2em;  word-spacing: 0px; 
    font-size: 50px; margin-top:0.3em;}
  @include media-breakpoint-down(sm) {
    font-size: 45px;}
  @include media-breakpoint-down(xs) {
    font-size: 35px; }
}

.card h4 {font-size: 1.2rem} 
.experience .card-text p {font-size: 30px} 

.notes{color: #ababab;}


a:hover {
  color: #ce6167; text-decoration: none; transition-delay: 0;
}

body {margin-top: 40px;}

.section-heading {margin-top: 0px; padding-top: 10px;} 


.card {
  position: static;
  display: flex;
  flex-direction: column;
  min-width: 0; // See https://github.com/twbs/bootstrap/pull/22740#issuecomment-305868106
  word-wrap: break-word;
  background-color: $card-bg;
  background-clip: border-box;
  border: $card-border-width hidden ;
  border-radius: 0px;
}

 .card-simple {
  background: #fff;
  box-shadow: none;
  border: 0px solid rgba(0,0,0,.09);
  border-radius: 0px;
  margin-top: 20px;
  padding: 15px 20px 15px 20px;
}

 .navbar {
  height: 40px; }
