:root{
    --var: 10;
}

h1 { color: #A8A8A8; background: #ffffff; position: static; line-height: 50px; 
  font-size: 50px; margin: 0 0px 24px; padding: 0px;}

.welcome-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;
	align-content: flex-start;
}

    
.welcome { font-family:'Fanwood Text'; color: #f2f2f2;  line-height:1em;  background: #ce6167; word-spacing: 20px;
  font-size: 7.5vh; ; margin: 0px 20px 0px 0px;  padding: 0px 0px 0px;}

.welcome-text {font-size: 7.5vh;  word-spacing: 3px; font-family:'Fanwood Text'; padding: 0px; margin: 0px 0px 0px;}

@include media-breakpoint-down(md) {
  
  .welcome { color: #f2f2f2; line-height: 1em; display: block; background: #ce6167; word-spacing: 0px;
  font-size: 6vh; ; margin: 0px 0px 10px; padding: 0px 0px 0px;}
  
  .welcome-text {font-size: 3vh; line-height: 1empx; display: block;  word-spacing: 0px; font-family:'Fanwood Text'; padding: 0px; margin: 0px 0px 0px;}
}

a:hover {
  color: #ce6167; text-decoration: none; transition-delay: 0;
}

body {margin-top: 40px;}

.section-heading {margin-top: 0px; padding-top: 10px;} 


.card {
  position: static;
  display: flex;
  flex-direction: column;
  min-width: 0; // See https://github.com/twbs/bootstrap/pull/22740#issuecomment-305868106
  word-wrap: break-word;
  background-color: $card-bg;
  background-clip: border-box;
  border: $card-border-width hidden ;
  border-radius: 0px;
}

 .card-simple {
  background: #fff;
  box-shadow: none;
  border: 0px solid rgba(0,0,0,.09);
  border-radius: 0px;
  margin-top: 20px;
  padding: 15px 20px 15px 20px;
}

 .navbar {
  height: 40px; }
