h1 { color: #ce6167; background: #ffffff; position: static; line-height: 50px;
  font-size: 50px; margin: 0 0px 24px; padding: 0px;}

    
.welcome { color: #f2f2f2; background: #ce6167; word-spacing: 10px;
  font-size: 50px; ; margin: 40px 0px 10px; padding: 0px 0px 0px;}

.welcome-text {font-size: 50px; background: #bbbbbb;  word-spacing: 3px; font-family:'Fanwood Text'; padding: 0px; margin: 0px 0px 0px;}


body {margin-top: 40px;}

.universal-wrapper {
  margin: 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 0;
  width: 100%;
}

.card {
  position: static;
  display: flex;
  flex-direction: column;
  min-width: 0; // See https://github.com/twbs/bootstrap/pull/22740#issuecomment-305868106
  word-wrap: break-word;
  background-color: $card-bg;
  background-clip: border-box;
  border: $card-border-width hidden ;
  border-radius: 0px;
}

 .card-simple {
  background: #fff;
  box-shadow: none;
  border: 0px solid rgba(0,0,0,.09);
  border-radius: 0px;
  margin-top: 20px;
  padding: 15px 20px 15px 20px;
}

 .navbar {
  height: 40px; }